.pcheader__inner
  .pcheader__inner__mainheader
    .searchBox
      -# = form_with(url: search_items_path, local: true, method: :get, class: "searchBox") do |form|
        = form.search_field :keyword, placeholder: "キーワードから探す", class: "#searchInput.searchBox--input" 
        .searchBox__icon
          = button_tag type: 'submit', class: 'search-btn' do
            = image_tag asset_path("icon-search 1.png"), alt: "icon-search 1.png エラー" 
  .nav
    %ul.nav__listsleft
      %li
        = link_to "系統"
      %li.listsleft__item
        = link_to "ジャンル"